body {
  font-family: Arial, sans-serif;
}
header img {
	float: left;	
}
header { 
	h2  {  font-size: 130%;
	color: steelblue;
	text-indext: 30px:
	    }
	.shadow { 
	text-shadow: 2px 2px 4px steelblue;
	}
	
