body {
  font-family: Arial, sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2.5%;
  border: 2px solid steelblue;
  box-shadow: 0 0 10px black;
}

header {
  width: 100%;
  border-bottom: 1px solid steelblue;
  background: linear-gradient(to bottom, white, lightsteelblue);
  padding: 1em 0;
}

header img {
  float: left;
  border-bottom: 1px solid steelblue;
  margin: 0.5em 1em 0.5em 0;
  max-width: 140px;
  min-width: 70px;
  width: 100%;
  height: auto;
}

header h2 {
  font-size: 1.7em;
  color: steelblue;
  font-style: italic;
  text-indent: 40px;
}

.shadow {
  text-shadow: 2px 2px 4px steelblue;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

aside {
  flex-basis: 30%;
  margin: 1em;
}

aside:last-child {
  margin-left: auto;
  margin-right: 0;
}

aside h2 {
  color: #800000;
}

main a {
  color: #800000 !important;
}

main ul a {
  color: steelblue !important;
}

footer {
  clear: both;
  text-align: center;
  background-color: steelblue;
  color: white;
  padding: 1em;
}
