body {
  font-family: Arial, sans-serif;
  width: 99%;
  max-width: 960px;
  margin: 0 auto;
  border: 2px solid steelblue;
  box-shadow: 0 0 10px black;
}

header {
  width: 100%;
  border-bottom: 1px solid steelblue;
  background: linear-gradient(to bottom, white, lightsteelblue);
}

header img {
  float: left;
  margin: 10px 20px 10px 0;
}

header h2 {
  font-size: 170%;
  color: steelblue;
  font-style: italic;
  text-indent: 40px;
}

.shadow {
  text-shadow: 2px 2px 4px steelblue;
}

main {
  display: flex;
}

main a {
  color: #800000 !important;
}

main ul a {
  color: steelblue !important;
}

footer {
  clear: both;
  text-align: center;
  background-color: steelblue;
  color: white;
}

 h3 {
	color: #800000
}
aside {
	width: 245px;                   /* 215 / 800 x 100 */
	float: left;
	padding:              /* 20 / 800 x 100 */
}
/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
    float: left;
    width: 20%;                 /* 160 / 800 x 100 */
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: steelblue !important;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: black;
}
#nav_menu ul ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#mobile_menu {
	display: none;
}

@media only screen and (max-width: 734px) {
	section h1 {
		font-size: 125%
	}
	section h2, aside h2 {
		font-size: 110%;
	}
	aside h3 a {
		font-size: 85%;
	}
}

@media only screen and (max-width: 648px) {
	header img { float: none; }
	header { text-align: center; }
	section {
		float: none;
		width: 95%;
	}
	aside {
		float: none;
		padding-right: 2.5%;
		width: 95%;
	}
	article img { max-width: 30%; }
	#speakers {
		column-count: 2;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		background-color: #800000 !important;
	}
}

@media only screen and (max-width: 414px) {
	body { font-size: 90%; }
}
