body {
    font-family: Arial, sans-serif;
    width: 99%;
    max-width: 960px;
    margin: 0 auto;
    border: none;
    box-shadow: 0 0 10px black;
}

header {
    width: 100%;
    border-bottom: 1px solid steelblue;
    background: linear-gradient(to bottom, white, lightsteelblue);
    display: flex;
    align-items: center;
    padding: 10px;
}

#header-content {
    display: flex;
    align-items: center;
}

#header-content img {
    margin-right: 15px;
}

#header-text h2, #header-text h3 {
    margin: 0;
}

.shadow {
    text-shadow: 2px 2px 4px steelblue;
}

main {
    display: flex;
}

aside {
    width: 245px;
    padding: 20px;
}

aside h2 {
    color: #800000;
}

footer {
    clear: both;
    text-align: center;
    background-color: steelblue;
    color: white;
}

main a {
    color: #800000 !important;
}

main ul a {
    color: steelblue !important;
}

h3 {
    color: #800000;
}

/* Navigation styles */
#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav_menu ul li {
    float: left;
    width: 20%;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: steelblue !important;
    color: white;
    font-weight: bold;
}

#nav_menu a.current {
    color: black;
}

#nav_menu ul ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#mobile_menu {
    display: none;
}

form {
    width: 80%; /* Shrunk form width */
    margin: 0 auto;
}

form fieldset {
    border: 2px solid black; /* Set border color to black */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

form legend {
    font-weight: bold;
    color: black; /* Set the legend (section title) text color to black */
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    background-color: steelblue;
    color: white;
    border: none;
    cursor: pointer;
}

form button[type="reset"] {
    background-color: lightgray;
}

form button:hover {
    background-color: lightsteelblue;
}

form button[type="reset"]:hover {
    background-color: gray;
}

@media only screen and (max-width: 767px) {
    header h2 {
        font-size: 200%;
    }

    main {
        flex-direction: column;
    }

    .slicknav_menu {
        background-color: steelblue !important;
        padding: 3px !important;
    }

    .slicknav_menu ul {
        background-color: steelblue !important;
    }

    .slicknav_menu a {
        color: white;
    }

    .slicknav_menu a:hover {
        color: lightsteelblue;
    }
}

@media only screen and (max-width: 479px) {
    header h2 {
        font-size: 150%;
    }
}
